 
 
 <div class="text-end">
    <a href="/admin/coupon-details"><b>Coupon Details</b>&nbsp;&nbsp;</a>
 </div>
 
 
  <div class="col-xl-8 col-lg-12 mt-5" style="margin-left:15%">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Coupon</h4>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                     <form action="/admin/postCoupon" method="POST" >
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="color:black ;">Coupon Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="name" placeholder="" required="" style=" border-style: solid; border-color:black">
                                            </div>
                                        </div>
                                      
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="color:black ;" >Coupon Code</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="code" placeholder="" required="" style=" border-style: solid; border-color:black">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="color:black ;">Minimum Amount</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="minAmount" placeholder="" required="" style=" border-style: solid; border-color:black">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="color:black ;">Maximum Amount</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="maxAmount" placeholder="" required="" style=" border-style: solid; border-color:black">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="color:black ;">Offer</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="offer" placeholder="" required="" style=" border-style: solid; border-color:black">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-3 col-form-label" style="color:black ;">Expiry Date</label >
                                            <div class="col-sm-9">
                                                <input type="date" class="form-control" name="expiryDate"
                                                    placeholder="" required="" style=" border-style: solid; border-color:black">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Add Coupon</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
					</div>



                                 