
 <div class="text-end">
   <a href="/admin/categoryOffer-details"><b>Category Offer Details</b></a>
   &nbsp;&nbsp;
 </div>
 
 <div class="container-fluid">
 
  <div class="heading">
  <h1>CATAGORY<span>OFFER</span></h1>
</div>

<form action="/admin/catagory-offer" method="post">
 <div style="width:25%;margin-left:1%">
 <select class="form-select" aria-label="Default select example" name="category">
   <option selected>Select Category</option>
  {{#each options}}
  <option value="{{this.category_name}}">{{this.category_name}}</option>
 {{/each}}
</select>
</div>
   
<br>
<div class="form-floating p-2" style="width:26%">
    <input type="number"  name="offer" class="form-control" id="floatingInputGroup1" placeholder="Enter Offer" min="0" max="100">
    <label for="floatingInputGroup1">Offer</label>
  </div>

  


  <button class="btn btn-success btn-sm mt-3" type="submit" style="margin-left:22%">ADD</button>
  </form>
  </div>