



<div class="mt-5 d-flex justify-content-center align-items-center">
  <div class="logform col-md-4 p-5 shadow-sm border bg-white rounded-5 border-warning">
    <h1 class="text-center mb-4">Your Order<span> Placed</span> Successfully..</h1>


     <div class="logbtn text-center">
       <a href="/login/orders" ><button  type="submit">View Orders</button></a>
      </div>
    
    </div>
  </div>


