<div class="logo">
    <img src="../images/logo2.png" alt="logo">
</div>
<div  style="margin-top: 20vh;"></div> <h1 class="text-left">"Everyday we make it,</h1><span>we’ll make it the best we can."</span> </div>
<div class="slogan">
<div>
    <h5 class="text-left text-white  fs-1 fw-normal ms-auto lh-lg">"We Provide the Best Meat in the industry. No added Preservatives. Processed in a Hygienic atmosphere. Your trusted  Meat4U... "</h5>
</div>
</div>